blockquote,body,button,dd,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,hr,input,legend,li,ol,p,pre,td,textarea,th,ul{margin:0;padding:0}
i,em{font-style: normal;}
b,strong{font-weight: normal;}
a,u{text-decoration: none;}
h1,h2,h3,h4,h5,h6{font-size: 16px;font-weight: normal;}
img{border: 0;}
input{outline: none;border:0;}
ul,ol,li{list-style:none;}

#logo{
    width:786px;
    height: 517px; 
    margin: 0 auto;
}
#logo .img{
    width: 80px;
    height: 80px;
    margin: 0 auto;
}
#logo img{
    width: 80px;
    height: 80px;
}
.txt{
    margin: 0 auto;
    width:786px;
    margin: 50px 0 50px 0;  
}
.txt h2{
    font-size:30px;
    text-align: center;  
}
.login-form{
    width: 250px;
    height: 400px;
    margin: 0 auto;
}
.login h1{
    margin-bottom:5px;

}
.login-form span{
    margin-bottom: 10px;
    display: block;
}
.login-form .inp {
    width: 250px;
    height: 40px; 
    border: 1px solid #ccc;
}
.login-form .inp3 {
    width: 200px;
    height: 40px; 
    border: 1px solid #ccc;
}
.login-form .lst{
    width:100px;
    height:40px;
    margin-bottom:15px;
}
.but{
    width:250px;
    height: 40px;
    background:orangered;
    border: none;
    margin-top:20px;
    color:#fff;
}

